<nav id="navbar" class="h-14 border flex items-center">
  <span class="ml-1 cursor-pointer" (click)="toggleSidebar()">
    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="36px" width="36px" xmlns="http://www.w3.org/2000/svg"><path fill="none" stroke-linecap="round" stroke-miterlimit="10" stroke-width="48" d="M88 152h336M88 256h336M88 360h336"></path></svg>
  </span>
</nav>

<nav id="sidebar" class="bg-white border-x w-3xs h-[calc(100vh-56px)] absolute top-[56px] duration-300 ease-in" [ngClass]="{ 'left-0' : sidebarOpen() , 'left-[-256px]' : !sidebarOpen()}">
  <ul>
    <li class="min-h-8 border-b w-full p-2 flex items-center">NOVA RODADA</li>
    <li class="min-h-8 border-b w-full p-2 flex items-center cursor-pointer hover:font-bold ps-5" (click)="toggleSidebar()" routerLink="score/shiai">SHIAI KUMITE</li>
    <li class="min-h-8 border-b w-full p-2 flex items-center cursor-pointer hover:font-bold ps-5" (click)="toggleSidebar()" routerLink="score/kogo">KOGO KUMITE</li>
    <li class="min-h-8 border-b w-full p-2 flex items-center cursor-pointer hover:font-bold ps-5" (click)="toggleSidebar()" routerLink="score/kata">KATA</li>
    <li class="min-h-8 border-b w-full p-2 flex items-center cursor-pointer hover:font-bold ps-5" (click)="toggleSidebar()" routerLink="score/enbu">ENBU</li>
    <li class="min-h-8 border-b w-full p-2 flex items-center cursor-pointer hover:font-bold"  (click)="toggleSidebar()" routerLink="settings">CONFIGURAÇÕES</li>
  </ul>
</nav>

<main (click)="toggleSidebar(false)" class="h-[calc(100vh-56px)] p-2">
  <router-outlet></router-outlet>
</main>